.New-post
{
    display: flex;
flex-direction: row;
width: 20vw;
flex-wrap: wrap;
background-color: red;
}

.blog-post 
{

  flex: 7;
  margin-top: 3rem;
  width: 90%;
  margin-left: 3rem;
  max-width: 98rem;
 height: 15vh;
box-shadow: 0 1.4erem 8 rem rgba(0,0,0,.2);
display: flex;
flex-direction: row;
flex-wrap: wrap;

border-radius: .8rem;

ul{
    width: 60vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: green;
    padding: 10px;
}
}

.Text_holder-input
{
    width: 20vw;
    height: 10vh;
    display: flex;
    align-content: flex-start;
}