.New-post
{
    display: flex;
flex-direction: column;
width: 60vw;
margin: 10px;
padding: 5px;

flex-wrap: wrap;
background-color: rgb(255, 255, 255);
}
.New-Name
{
font-size: 20px;
margin-right: 1rem;
width: 200px;
background-color: white;
padding: 5px;
line-height: 30px;
}
.New-Topic
{
    font-size: 20px;
    margin-right: 1rem;
    width: 200px;
    background-color: white;
    padding: 5px;
    line-height: 30px;
}
.blog__section
{
    flex-direction: column;
}
.blog-post 
{

  flex: 7;
  margin-top: 3rem;
  width: 90%;
  margin-left: 3rem;
  max-width: 98rem;
 height: 15vh;
box-shadow: 0 1.4erem 8 rem rgba(0,0,0,.2);
display: flex;
flex-direction: row;
flex-wrap: wrap;

border-radius: .8rem;

ul{
    width: 60vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(187, 187, 187);
    padding: 10px;
   
}
}

.message-field
{
    margin: 10px;
    width: 20vw;
    height: 10vh;
    display: flex;
    align-content: flex-start;
    padding: 10px;
}